html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

ol, ul {
  list-style: none;
}

:root {
  --dark-blue: #0968da;
  --light-blue: #dcf4ff;
  --word-gray: #57606A;
  --border-gray: #D8DEE4;
}

body {
  font-family: sans-serif;
}

#root {
  max-width: 100vw;
  margin: auto;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-block {
  border: 1px solid var(--border-gray);
  width: 600px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 599px) {
  .list-block {
    width: 95%;
  }
}

.repo:not(:last-of-type) {
  border-bottom: 1px solid var(--border-gray);
}

.repo {
  padding: 1rem;
}

h3 {
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 1.3rem;
  display: inline-block;
  margin-right: 0.8rem;
}

h3:hover {
  cursor: pointer;
}

.visibility, .desc {
  color: var(--word-gray);
}

.visibility {
  border: 1px solid var(--border-gray);
  border-radius: 12px;
  display: inline-block;
  padding: 0 0.5rem;
}

.desc {
  margin: 0.5rem 0;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.topic {
  color: var(--dark-blue);
  background-color: var(--light-blue);
  border-radius: 12px;
  padding: 0.1rem 0.5rem;
}

.topic:hover {
  cursor: pointer;
  background-color: var(--dark-blue);
  color: #fff;
}

button {
  font-size: 1.2rem;
  color: var(--dark-blue);
  border: none;
  background-color: #fff;
}

button:hover {
  cursor: pointer;
}