:root {
  --google-light-gray: #f0f3f4;
  --google-dark-gray: #5f6368;
  --google-border-gray: #e0e3e6;
  --google-blue: #1a73E8;
  --google-green: #1f8e3d;
}

/* style reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  line-height: 1.6;
}

h1 {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  object-fit: cover;
}

button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 2.5rem;
  padding: 0.5rem 2rem;
}

button:hover, a {
  cursor: pointer;
}

/* page style */

header {
  position: fixed;
  margin-top: -4.5rem;
  width: 100vw;
  height: 4.5rem;
  background-color: #fff;
  box-shadow: 0 2px 5px var(--google-dark-gray);
  padding: 1rem;
}

header li {
  font-family: 'Kumbh Sans', sans-serif;
  color: var(--google-dark-gray);
}

.header-left {
  display: inline-block;
}

.header-left * {
  vertical-align: middle;
}

.items-bar {
  display: none;
}

.logo {
  display: inline-block;
  width: 200px;
}

.header-nav {
  display: inline-block;
  margin-left: 1rem;
}

.header-nav li {
  display: inline-block;
  margin-right: 1rem;
}

.header-right * {
  display: inline-block;
}

.header-right {
  float: right;
}

.nav-m {
  display: none;
}

.search span {
  font-size: 1rem;
  vertical-align: bottom;
}

.search button {
  border: none;
  background-color: var(--google-light-gray);
}

.search-icon {
  display: none;
}

.language span {
  font-size: 1rem;
  vertical-align: bottom;
}

.language button {
  border: 1px solid var(--google-border-gray);
}

.profile-icon {
  background-color: #fff;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid var(--google-border-gray);
}

.profile-img {
  border-radius: 50%;
  vertical-align: middle;
}

/* main */

main {
  margin-top: 4.5rem;
}

section {
  padding: 2rem;
}

.promotion {
  width: 100%;
  background-color: var(--google-green);
  display: grid;
  grid-template-columns: 1fr minmax(10px, 30rem) minmax(10px, 30rem) 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  color: #fff;
  gap: 2rem;
}

.promotion img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.promotion .img {
  grid-column: 3 / 4;
  grid-row: 1 / -1;
}

.promotion .article {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
}

.promotion h1 {
  margin-top: 0;
}

.promotion button {
  margin-top: 1rem;
  color: #fff;
}

.products {
  text-align: center;
}

.products img {
  width: 4rem;
  margin: 2rem;
}

.product-container {
  margin: 0 auto;
  max-width: 1400px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  align-items: baseline;
}

.products button {
  color: #fff;
  background-color: var(--google-blue);
  margin-top: 3rem;
  border: none;
}

.products button:hover {
  box-shadow: 0 2px 5px var(--google-dark-gray);
}

.events {
  text-align: center;
  /* padding-left: 0; */
}

.events-header {
  color: #fff;
  background-color: var(--google-blue);
  padding: 2rem 0;
  width: 100vw;
  margin-left: -2rem;
}

.events-header button {
  background-color: #fff;
  color: var(--google-blue);
  border: none;
}

.events-header button:hover {
  background-color: #fffd;
}

.events-container {
  margin: 0 auto;
  max-width: 1400px;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.event {
  border: 1px solid var(--google-border-gray);
  border-radius: 10px;
  display: inline-block;
  padding: 1rem;
  text-align: left;
}

.event img {
  max-width: 100%;
}

.event h1 {
  color: var(--google-blue);
}

.event button {
  background-color: #fff;
  color: var(--google-blue);
  border: 1px solid var(--google-border-gray);
}

.event button:hover {
  background-color: rgba(var(--google-blue), 0.14);
}

.news-feed {
  background-color: #f0f3f4;
}

.news-feed>h1{
  text-align: center;
}

.news-container {
  margin: 0 auto;
  max-width: 1400px;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  gap: 2rem;
}

.news {
  border: 1px solid var(--google-border-gray);
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem;
  display: grid;
  grid-template-rows: minmax(5rem, 1fr) 1fr 1fr 2rem;
}

.news img {
  width: 5rem;
  margin: 0 auto;
  align-self: center;
}

.news h1 {
  font-size: 1.5rem;
  color: var(--google-blue);
  grid-row: 2 / 3;
}

.news button {
  background-color: #fff;
  color: var(--google-blue);
  width: 5rem;
  padding: 0;
}

.news button:hover {
  background-color: rgba(var(--google-blue), 0.14);
}

.experts {
  text-align: center;
}

.experts button {
  background-color: #fff;
  color: var(--google-blue);
  margin-bottom: 2rem;
}

.experts button:hover {
  background-color: rgba(var(--google-blue), 0.14);
}

.experts-container {
  margin: 0 auto;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.expert {
  border: 1px solid var(--google-border-gray);
  border-radius: 10px;
  background-color: #fff;
  padding: 2rem 2rem 0;
  display: grid;
  grid-template-rows: minmax(5rem, 1fr) minmax(3rem, 4rem) 3rem 4srem;
  align-items: center;
}

.expert img {
  width: 5rem;
  border-radius: 50%;
  margin: 0 auto;
}

.expert h1 {
  font-size: 1.5rem;
}

.expertise {
  color: #808080;
}

footer {
  border-top: 1px solid var(--google-border-gray);
  margin-top: 2rem;
  font-size: smaller;
  line-height: 2;
}

footer h1 {
  font-size: 1.2em;
  margin: 0;
}

footer a:hover {
  color: var(--google-blue);
}

.link-groups-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}

hr {
  border-top: 1px solid var(--google-border-gray);
  margin: 1rem;
}

.bottom-nav {
  padding-left: 2rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.bottom-nav nav {
  display: inline-block;
  margin-left: 1rem;
}

.bottom-nav li {
  display: inline-block;
  margin: 0 1rem;
}

.bottom-info {
  padding: 1rem 2rem;
}

.subscribe button {
  color: #fff;
  background-color: var(--google-blue);
  border: none;
  margin-bottom: 2rem;
}

.subscribe button:hover {
  box-shadow: 0 2px 5px var(--google-dark-gray);
}

.bottom-left {
  float: left;
  height: 100%;
  padding: 0 1rem;
}

.bottom-right>* {
  display: inline-block;
  padding: 0 1rem;
}

.bottom-right {
  float: right;
}

/* media queries */

@media only screen and (max-width: 1346px) {
  .nav-m {
    display: inline-block;
  }
  .nav-d {
    display: none;
  }
}

@media only screen and (max-width: 1292px) {
  .nav-b {
    display: none;
  }
}

@media only screen and (max-width: 1227px) {
  .nav-b {
    display: inline-block;
  }
  .nav-c {
    display: none;
  }
}

@media only screen and (max-width: 1162px) {
  .nav-b {
    display: none;
  }
}

@media only screen and (max-width: 1097px) {
  .nav-b {
    display: inline-block;
  }
  .nav-l {
    display: none;
  }
}

@media only screen and (max-width: 1089px) {
  .nav-b {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .nav-l {
    display: inline-block;
  }
  .nav-e {
    display: none;
  }
}

@media only screen and (max-width: 1018px) {
  .nav-b {
    display: inline-block;
  }
  .nav-l {
    display: none;
  }
}

@media only screen and (max-width: 1016px) {
  .experts-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1010px) {
  .nav-b {
    display: none;
  }
}

@media only screen and (max-width: 945px) {
  .nav-e {
    display: inline-block;
  }
  .nav-p {
    display: none;
  }
}

@media only screen and (max-width: 911px) {
  .nav-l {
    display: inline-block;
  }
  .nav-e {
    display: none;
  }
}

@media only screen and (max-width: 905px) {
  .nav-b {
    display: inline-block;
  }
  .nav-l {
    display: none;
  }
}

@media only screen and (max-width: 897px) {
  .nav-b {
    display: none;
  }
}

@media only screen and (max-width: 840px) {
  .header-nav {
    display: none;
  }
  .items-bar {
    display: inline-block;
    padding-right: 1rem;
    font-size: 1rem;
  }
  .search {
    display: none;
  }
  .search-icon {
    display: inline-block;
    vertical-align: bottom;
  }

  .news-container {
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  }


  .bottom-nav li {
    display: block;
  }
  .bottom-nav .logo {
    display: block; 
  }
  .bottom-right {
    float: left;
  }
}


@media only screen and (max-width: 600px) {
  .language {
    display: none;
  }
  .search-icon {
    margin-bottom: -5px;    
  }
  .promotion {
    display: block;
  }
  .product-container {
    grid-template: repeat(6, 1fr) / repeat(2, 1fr);
  }
  .events-container {
    display: block;
  }
  .news-container {
    display: block;
  }
  .news {
    margin-bottom: 2rem;
  }
  .link-groups-container {
    display: block;
  }
  .link-group:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .experts-container {
    display: block;
  }
  .expert {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 360px) and (min-width: 320px) {
  .logo {
    width: 159px;
  }
}